.para {
	font-family: "Open Sans", sans-serif;
	font-size: 32px
}
.para-blg {
	font-family: "Open Sans", sans-serif;
	font-size: 16px
}
.header-blg{
	font-family: "Montserrat", sans-serif;
	font-size: 32px;}

.spacer50  {
	height: 50px
}
.whole-screen { height: 100vh;}

a:link {
	color: #00AEFF;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color: #A9A9A9;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: #2f4f4f;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:active {
	color: #2f4f4f;
	background-color: transparent;
	text-decoration: underline;
  }
  .center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.black-box {
	background-color: #292929;
	color: whitesmoke;
	height: 500px;
	width: 500px;
}
.header {
	font-family: "Montserrat", sans-serif;
	font-size: 48px;
}
.header-lrg {
	font-family: "Montserrat", sans-serif;
	font-size: 64px;}
.nav-white {
	background-color: white
}